<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/bali.jpg" alt="rahman" class="img-thumbnail rounded-circle" width="200" style="height:200px !important">
      <h1 class="display-4">Achmad Rahman M.</h1>
      <p class="lead">Programmer | Dota 2 Enthusiast</p>
    </div>
  </div>
</div>